
@{
    ViewBag.Title = "Visit";
  }

<div class="container d-flex justify-content-center align-content-lg-center">
    <a asp-controller="home" asp-action="list" class="btn btn-primary btn-lg p-1 mr-1 mt-5">I am an NGO</a>
    <a asp-controller="account" asp-action="list" class="btn btn-primary btn-lg p-1 ml-1 mt-5">I am a Volunteer</a>
</div>