
<h3 class="text-success">Congratulations!</h3>
<h5 class="text-success">Your application is created successfully</h5>
<a asp-controller="account" asp-action="list" class="btn btn-primary btn-lg ">See List</a>
